@model WikiApp.Models.SubtitleFile

@{
    ViewBag.Title = "AddRequest";
}

<h2> Bæta við beiðni </h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <h4>Bæta við nýrri beiðni</h4>
        <hr />
        @Html.ValidationSummary(true)

        <!-- Column for name of file created -->
        @Html.LabelFor(model => model.name, "Heiti", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <!-- Column for category of file created -->
        @Html.LabelFor(model => model.category, "Flokkur", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.category, ViewData["Categories"] as List<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.category)
        </div>

        <!-- Column for link to external data -->
        @Html.LabelFor(model => model.path, "Hlekkur", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.path)
            @Html.ValidationMessageFor(model => model.path)
        </div>
        </div>

        <!-- Submit button created-->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Bæta við" class="btn btn-primary" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Til baka", "Requests")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
