@model WikiApp.Models.View_Models.SubtitlesVM
@{
    ViewBag.Title = "Allir skjátextar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">


<div class="jumbotron">
    <form class="form-search">
        <input type="text" class="input-medium-search-query">
        <button type="submit" class="btn-primary">Leita</button>
    </form>
</div>

<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-lg-12">
        <ul id="tabs">
            
            <li><a href="#All Titles">All Titles</a></li>
            @for(char i = 'A'; i <= 'Z'; i++)
            {
                <li><a href=#@i>@i</a></li>
            }
        </ul>


        <div class="tabContent" id="All Titles">
            <h3>All Titles</h3>
            <ul>
                @foreach (var item in @Model.allFiles)
                {
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                }
            </ul>
        </div>

                @foreach (var item in @Model.allFiles)
                {
                    item.key = item.name[0];
                     <div class="tabContent" id="@item.key">
                         <ul>
                            <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                        </ul>
                     </div>
                 }


        <!-->
        <div class="tabContent" id="A">
            <h3>Titlar sem byrja a: A</h3>
            <p>Anaconda</p>
            <p>Another Teen movie</p>

        </div>

        <div class="tabContent" id="B">
            <h3>Titlar sem byrja a: B</h3>
            <p>Batman</p>
           
        </div>

        <div class="tabContent" id="C">
            <h3>Titlar sem byrja a: H</h3>
            <p>Herdís hin Hræðilega</p>
            <p>Herdís segir brandara</p>

        </div> -->
    </div>
</div>




