@model WikiApp.Models.View_Models.SubtitlesVM
@{
    ViewBag.Title = "Allir skjátextar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">


<div class="jumbotron">
    @using (Html.BeginForm("Search", "Home", @FormMethod.Get))
    {
        <p>
            @Html.TextBox("SearchString", null, new { @class = "input-medium-search-query", @type = "text", @placeholder = "Sláðu inn leitarorð" })
            <input type="submit" value="Leita" class="btn btn-primary" /> <br />
            @Html.ActionLink("Ítarleg leit", "Search", "Home", null, new { @class = "btn btn-info" })
        </p>
    }
</div>

<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-lg-12">
        <ul id="tabs">
            
            <!--Building the tabs on the Navigation Bar-->
            <li><a href="#All Titles">All Titles</a></li>
            @for (char i = 'A'; i <= 'Z'; i++)
            {
                <li><a href=#@i>@i</a></li>
            }
        </ul>

        <!--Putting allt the content under All Titles -->
        @*<div class="tabContent" id="All Titles">
            <h3>All Titles</h3>
            <ul>
                @foreach (var item in Model.allFiles)
                {
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                }
            </ul>
        </div>*@

        <div class="tabContent" id="All Titles">
            <table class="table table-striped">
                <tr id="Variables">
                    <th>Nafn</th>
                    <th>Likes</th>
                    <th>Flokkur</th>
                    <th>Sett inn</th>
                </tr>
                @foreach (var item in @Model.allFiles)
                {
                    <tr>
                        <td>@Html.ActionLink(item.name, "View3", new { id = item.ID })</td>
                        <td>@item.upvote</td>
                        <td>@item.category</td>
                        <td>@item.dateAdded</td>
                    </tr>
                }
            </table>
        </div>


         <div class="tabContent" id="A">
            <table class="table table-striped">
                <tr id="Variables">
                    <th>Nafn</th>
                    <th>Likes</th>
                    <th>Flokkur</th>
                    <th>Sett inn</th>
                </tr>
            @foreach (var item in @Model.A)
            {
                    <tr>
                        <td>@Html.ActionLink(item.name, "View3", new { id = item.ID })</td>
                        <td>@item.upvote</td>
                        <td>@item.category</td>
                        <td>@item.dateAdded</td>
                    </tr>
            }   
            </table>
        </div>
     


     
        <div class="tabContent" id="B">
            <table class="table table-striped">
                <tr id="Variables">
                    <th>Nafn</th>
                    <th>Likes</th>
                    <th>Flokkur</th>
                    <th>Sett inn</th>
                </tr>
            @foreach (var item in @Model.B)
                {
                    <tr>
                        <td>@Html.ActionLink(item.name, "View3", new { id = item.ID })</td>
                        <td>@item.upvote</td>
                        <td>@item.category</td>
                        <td>@item.dateAdded</td>
                    </tr>
            }
            </table>
        </div>

        <div class="tabContent" id="C">
            <table class="table table-striped">
                <tr id="Variables">
                    <th>Nafn</th>
                    <th>Likes</th>
                    <th>Flokkur</th>
                    <th>Sett inn</th>
                </tr>
            @foreach (var item in @Model.C)
            {
                    <tr>
                        <td>@Html.ActionLink(item.name, "View3", new { id = item.ID })</td>
                        <td>@item.upvote</td>
                        <td>@item.category</td>
                        <td>@item.dateAdded</td>
                    </tr>
            }
            </table>
        </div>


        <div class="tabContent" id="D">
            <table class="table table-striped">
                <tr id="Variables">
                    <th>Nafn</th>
                    <th>Likes</th>
                    <th>Flokkur</th>
                    <th>Sett inn</th>
                </tr>
            @foreach (var item in @Model.D)
            {
                    <tr>
                        <td>@Html.ActionLink(item.name, "View3", new { id = item.ID })</td>
                        <td>@item.upvote</td>
                        <td>@item.category</td>
                        <td>@item.dateAdded</td>
                    </tr>
            }
            </table>
        </div>

        <div class="tabContent" id="E">
            @foreach (var item in @Model.E)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="F">
            @foreach (var item in @Model.F)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="G">
            @foreach (var item in @Model.G)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="H">
            @foreach (var item in @Model.H)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="I">
            @foreach (var item in @Model.I)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="J">
            @foreach (var item in @Model.J)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="K">
            @foreach (var item in @Model.K)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="L">
            @foreach (var item in @Model.L)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="M">
            @foreach (var item in @Model.M)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="N">
            @foreach (var item in @Model.N)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="O">
            @foreach (var item in @Model.O)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="P">
            @foreach (var item in @Model.P)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="Q">
            @foreach (var item in @Model.Q)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>


        <div class="tabContent" id="R">
            @foreach (var item in @Model.R)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="S">
            @foreach (var item in @Model.S)
            {
            <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="T">
            @foreach (var item in @Model.T)
                {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category &nbsp;&nbsp;&nbsp; @Html.ActionLink("Niðurhala", "Downloader", "Home", new {id = item.ID}, null)</li>
                </ul>
                }
        </div>

        <div class="tabContent" id="U">
            @foreach (var item in @Model.U)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
            </ul>
            }
        </div>

        <div class="tabContent" id="V">
            @foreach (var item in @Model.V)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="W">
            @foreach (var item in @Model.W)
            {
                <ul>
                    <li>@Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                </ul>
            }
        </div>

        <div class="tabContent" id="X">
            @foreach (var item in @Model.X)
            {
                         <ul>
                            <li>Html.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp;item.dateAdded &nbsp;&nbsp;&nbsp; item.category</li>
                        </ul>
            }
        </div>

        <div class="tabContent" id="Y">
            <table class="table table-striped">
                <tr id="Variables">
                    <th>Nafn</th>
                    <th>Likes</th>
                    <th>Flokkur</th>
                    <th>Sett inn</th>
                </tr>
            @foreach (var item in @Model.Y)
            {
                    <tr>
                        <td>@Html.ActionLink(item.name, "View3", new { id = item.ID })</td>
                        <td>@item.upvote</td>
                        <td>@item.category</td>
                        <td>@item.dateAdded</td>
                    </tr>
            }
            </table>
        </div>


        <div class="tabContent" id="Z">
            <table class="table table-striped">
                <tr id="Variables">
                    <th>Nafn</th>
                    <th>Likes</th>
                    <th>Flokkur</th>
                    <th>Sett inn</th>
                </tr>
            @foreach (var item in @Model.Z)
            {
                    <tr>
                        <td>@Html.ActionLink(item.name, "View3", new { id = item.ID })</td>
                        <td>@item.upvote</td>
                        <td>@item.category</td>
                        <td>@item.dateAdded</td>
                    </tr>
            }
            </table>
                     </div>

       <!--Virkar ekki eina sem darf ad virka er model.i-->  
<!--attfor (char i = 'A'; i <= 'Z'; i++)
{ 
        <div class="tabContent" id="i">
            attforeach (var item in attModel.i)
            {
                <ul>
                    <li>attHtml.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; attitem.dateAdded &nbsp;&nbsp;&nbsp; attitem.category</li>
                </ul>
                 }  
        </div>
    
        }
    -->



    


        <!--Putting movies under the alphabetical order-->
       <!-- ATTif (Model.specificFiles != null)
        {
            foreach (var item in ATTModel.specificFiles)
                {
                    item.key = item.name[0];
                     <div class="tabContent" id="ATTitem.key">
                         <ul>
                            <li>ATTHtml.ActionLink(item.name, "View3", new { id = item.ID }) &nbsp;&nbsp;&nbsp; ATTitem.dateAdded &nbsp;&nbsp;&nbsp; ATTitem.category</li>
                        </ul>
                     </div>
                 }  
        }
-->






    </div>
</div>




