@model WikiApp.Models.View_Models.SubtitlesVM
@{
    ViewBag.Title = "Tyding.is";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>

<script type="text/javascript" src="/Scripts/tabScript.js"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css">

<!--Search takkinn-->

<div class="jumbotron">
<!--
    <form class="form-search">
        <input type="text" class="input-medium-search-query">
        <button type="submit" class="btn-primary">Leita</button>
    </form>
-->

    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchString") <br />
            <input type="submit" value="Leita" />
        </p>
    }
    
</div>


<div class="row">
    <div class="col-lg-12">
        <ul id="tabs">
            <li><a href="#top10Movies">Vinsælustu Myndir</a></li>
            <li><a href="#newestMovies">Nýjustu Myndir</a></li>
            <li><a href="#top10Shows">Vinsælustu Þættir</a></li>
            <li><a href="#newestShows">Nýjustu Þættir</a></li>
        </ul>

        <div class="tabContent" id="top10Movies">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="tabContent" id="newestMovies">
            <h3>Nýjustu Myndir</h3>
            <ul>
                @foreach (var item in @Model.allMovies)
                { 
                    <li>@Html.ActionLink(item.name, "SubtitleView", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                }
            </ul>
            </div>

        <div class="tabContent" id="top10Shows">
            <h3>Vinsælustu Þættir</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur urna quis mauris iaculis eleifend. Integer pretium dolor sed ante congue, id eleifend est lacinia. Donec at bibendum leo. Aenean aliquet vitae ante nec pretium. Nullam interdum risus id fermentum fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc aliquam turpis metus, id tristique est iaculis eget. Suspendisse quis nisi in quam sollicitudin vestibulum. Morbi pellentesque arcu at magna congue, ac cursus lacus cursus. Quisque velit orci, vestibulum et lacus sed, convallis laoreet magna.</p>
            <p>In venenatis euismod purus at laoreet. Cras rhoncus risus ut consectetur lobortis. Integer est diam, vestibulum quis lacinia et, dictum id turpis. Morbi mi augue, facilisis vitae tempor at, porttitor ac lectus. Sed sed magna tempor, congue lacus at, porta nibh. Cras fermentum ac orci scelerisque consequat. Proin pellentesque euismod augue, quis viverra tortor porta et. Sed semper rutrum eleifend. Pellentesque lobortis leo vitae lorem sagittis, consectetur interdum felis sodales. Nulla condimentum, enim sed dictum tincidunt, mi sapien tincidunt sapien, a imperdiet sapien risus ac arcu. Donec posuere risus at dolor aliquet, in accumsan lacus cursus.</p>
            Donec laoreet mollis leo. Curabitur quis dui rutrum, vehicula odio quis, tincidunt justo. Aenean a euismod nisi, tincidunt accumsan arcu. Integer gravida malesuada diam, sed dictum urna aliquam ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris id orci sit amet tellus tristique congue sed sit amet dolor. Vestibulum sagittis metus quis arcu sagittis rutrum. Mauris tortor nibh, pulvinar sit amet est porttitor, bibendum egestas orci. Quisque eget faucibus nisl. Duis non mauris congue, mattis dui a, aliquam turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam arcu dolor, laoreet eget imperdiet nec, egestas quis dui. Fusce quis neque vel risus feugiat scelerisque quis quis magna. Donec non sapien tempus, feugiat velit quis, venenatis purus. Proin consequat elit et ipsum fermentum, at molestie felis iaculis.
        </div>

        <div class="tabContent" id="newestShows">
            <h3>Nýjustu Þættir</h3>
            <ul>
                @foreach (var item in @Model.allTV)
                {
                    <li>@Html.ActionLink(item.name, "SubtitleView", new { id = item.ID }) &nbsp;&nbsp;&nbsp; @item.dateAdded &nbsp;&nbsp;&nbsp; @item.category</li>
                }
            </ul>
        </div>
    </div>
</div>


