@model IEnumerable<WikiApp.Models.SubtitleFile>

@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.upvote)
        </th>
        <th></th>
    </tr>


</table>
