@model IEnumerable<WikiApp.Models.SubtitleFile>
@{
    ViewBag.Title = "Leit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    @using (Html.BeginForm())
    {
        <p>
           <h3>Titill:</h3> 
            @Html.TextBox("SearchString", null, new { @placeholder = "Sláðu inn leitarorð", @class = "form-control, input-medium-search-query", @type = "text" }) 
            <h3>Flokkur:</h3> @Html.DropDownList("movieGenre", null, "Allir", new { @class = "form-control input-medium-search-query" }) <br />
            <input type="submit" value="Leita" class="btn btn-primary" />
        </p>
    }
</div>
<div>
    <table class="Thetable">
        <tr id="Variables">
            <th>Nafn</th>
            <th>Flokkur</th>
            <th>Lýsing</th>
            <th>Líkar við</th>
            <th>Sett inn</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.upvote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateAdded)
                </td>

            </tr>
        }
    </table>
</div>


