@model WikiApp.Models.View_Models.SubtitlesVM
@{
    ViewBag.Title = "Leit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    @using (Html.BeginForm())
    {
        @Html.TextBox("searchString", null, new { @class = "input-medium-search-query", @type = "text", @placeholder = "Sláðu inn leitarorð"}) 
        @Html.ActionLink("Leita", "Search", "Home", null, new { @class = "btn btn-primary" }) <br/>
    }
</div>
<div>
    <table class="Thetable">
        <tr id="Variables">
            <th>Nafn</th>
            <th>Flokkur</th>
            <th>Sett inn</th>
        </tr>
        @foreach (var item in @Model.SearchResultList)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.category</td>
                <td>@item.dateAdded</td>
            </tr>
        }
    </table>
</div>


