@model WikiApp.Models.View_Models.SubtitlesVM
@{
    ViewBag.Title = "Leit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    @using (Html.BeginForm("Search", "Home", @FormMethod.Get))
    {
        <p>
            @Html.TextBox("SearchString", null, new { @class = "input-medium-search-query", @type = "text", @placeholder = "Sláðu inn leitarorð" })
            @Html.LabelFor(model => model.category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.category, ViewData["Categories"] as List<SelectListItem>)
                @Html.ValidationMessageFor(model => model.category)
            </div>
            <input type="submit" value="Leita" class="btn btn-primary" />
            @Html.ActionLink("Ítarleg leit", "Search", "Home", null, new { @class = "btn btn-info" })
        </p>
    }
</div>
<div>
    <table class="Thetable">
        <tr id="Variables">
            <th>Nafn</th>
            <th>Flokkur</th>
            <th>Sett inn</th>
        </tr>
        @foreach (var item in @Model.SearchResultList)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.category</td>
                <td>@item.dateAdded</td>
            </tr>
        }
    </table>
</div>


